@tailwind base;
@tailwind components;
@tailwind utilities;

.tw-web3button {
  all: unset;
  min-width: 50px !important;
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}

.css-1fii1tk {
  all: unset;
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
  min-width: 50px !important;
  padding: 0 !important;
}
